/* default css start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-area {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(images/banner.jpg);
  background-position: center center;
  background-size: cover;
}
/* default css end */

/* navbar regular css start */
.navbar-area {
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid #000;
  position: fixed;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  height: 50px;
  width: 100px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.navbar ul li a {
 color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
  font-family: poppins;
  font-size: larger;
  font-weight: large;
}
.navbar ul li a:hover {
  color: rgb(246, 160, 47);
}
/* navbar regular css end */

/* nav-toggler css start */
.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: 0.3s;
}
.nav-toggler span:before {
  content: "";
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: "";
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css start */

/* hero css start */
.hero {
  height: calc(100vh - 61px);
  width: auto;
  display: flex;
  align-items: center;
  text-align: start;
  color: #fff;
}
.hero h2 {
  font-size: 80px;
  font: bold;
  font-weight: 300;

  margin-bottom: 25px;
  font-family: poppins;
  font-size: 100px;
  font-weight: bold;
}
.hero p {
  font-size: 38px;
  line-height: 80px;
  font-family: poppins;

  font-weight: bold;
}

.hero p span {
  color: rgb(255, 196, 0);
}
/* hero css end */

.hero button {
  color: #f0f0f0;

  border-radius: 10px;
}

.hero button:hover {
  transform: scale(1.02);
}

.hero button h4 {
  color: #000;
  font-size: 30px;
  padding: 20px;
}

/* mobile breakpoint start */
@media screen and (max-width: 767px) {
  .container {
    max-width: 720px;
  }
  /* navbar css for mobile start */
  .nav-toggler {
    display: block;
  }
  .navbar {
    min-height: 60px;
  }
  .navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #444;
    background-color: rgba(0, 0, 0, 0.75);
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  .navbar ul li {
    width: 100%;
    text-align: center;
  }
  .navbar ul li a {
    padding: 25px;
  }
  .navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
  .hero h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }

  .hero p {
    font-size: 30px;
    line-height: 50px;
    font-family: poppins;

    font-weight: bold;
  }

  .hero p span {
    color: rgb(255, 196, 0);
  }
  /* hero css end */

  .hero button {
    color: #f0f0f0;

    border-radius: 10px;
  }

  .hero button:hover {
    transform: scale(1.02);
  }

  .hero button h4 {
    color: #000;
    font-size: 20px;
    padding: 15px;
  }
}
/* mobile breakpoint end */

/* about us */
#About {
  margin-top: 0px;
}
#About h2 {
  font-size: 50px;
  color: #ffca70;
  margin: 20px;
  text-align: center;
}

#aboutUs {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#aboutUs img {
  width: 400px;
  margin: 20px;
  border-radius: 10px;
}

.content {
  margin: 20px 0;
}

.content h4 {
  font-size: 20px;
  color: white;
  margin: 10px 0;
}

.description {
  color: green;
  margin: 20px 0;
  font-size: 25px;
  line-height: 35px;
  font-weight: 100;
  text-align: justify;
}

.btn {
  margin-top: 20px;
  font-weight: bold;
  border: 2px solid #ffca70;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  transition: all 0.4s;
  background-color: #ffca70;
  color: rgb(3, 51, 3);
}

.btn:hover {
  border: 2px solid #ffca70;
  background: transparent;
  color: #ffca70;
}

@media screen and (max-width: 790px) {
  #aboutUs img {
    width: 80%;
  }

  #aboutUs {
    grid-template-columns: 1fr;
    place-items: center;
  }
}

/* Product */

.container5 {
  width: 1300px;
  margin: auto;
  max-width: 90vw;
  text-align: center;
  padding-top: 10px;
}
.title {
  text-align: center;
  font-size: 30px;
  color: #ffca70;
  margin-bottom: 20px;
}

.listProduct .item img {
  width: 100%;
  filter: drop-shadow(0 50px 20px #0009);
}

.listProduct {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.listProduct .item {
  background-color: #eeeee6;
  padding: 15px;
  border-radius: 10px;
}

.listProduct .item h2 {
  font-weight: 500;
  font-size: bold;
  font-family: poppins;
}

.listProduct .item h2:hover {
  font-weight: 500;
}

.listProduct .item .price {
  margin-top: 15px;
  font-family: poppins;
  font-size: large;
}

/* mobile */
@media only screen and (max-width: 768px) {
  .listProduct {
    grid-template-columns: repeat(2, 1fr);
  }
  .detail {
    text-align: center;
    grid-template-columns: 1fr;
  }
  .detail .image img {
    width: unset;
    height: 40vh;
  }

  .detail .name {
    font-size: x-large;
    margin: 0;
  }

  .listProduct .item h2 {
    font-weight: 200px;
    font-size: bold;
    font-family: poppins;
  }

  .detail .buttons button {
    font-size: small;
  }
  .detail .buttons {
    justify-content: center;
  }
}

/* ______________________________________________________________________________________ */
/* testimonial  */
#testi {
  width: 1300px;
  text-align: center;

  margin: auto;
}

#testi p {
  text-align: left;
  text-justify: auto;
  padding: 16px;
}

.testimonials-heading {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 40px;
  color: #ffca70;
}

/*Customizing Testimonials Card*/
.card {
  background-color: #eeeee6;
  text-align: center;

  border-radius: 20px;
  margin-right: 20px;
}

.card img {
  width: 100%;

  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.card img:hover {
  transform: scale(1.02);
}

.card > p {
  text-align: center;
  text-justify: auto;
  padding: 16px;
}

.secondary-text {
  color: #777777;
}

/*Flexing Grid System*/
.row {
  display: flex;
  gap: 20px;
}

.col {
  flex: 2;
}

/* Responsive Code Testimonial*/
@media screen and (max-width: 575px) {
  #testi {
    width: auto;
    text-align: center;
    margin: 20px;
  }

  #testi p {
    text-align: left;
    text-justify: auto;
    padding: 16px;
  }

  .testimonials-heading {
    text-align: center;
    font-size: 30px;
    color: #ffca70;
  }

  /*Customizing Testimonials Card*/
  .card {
    background-color: #eeeee6;
    text-align: center;
    column-gap: 20px;
  }

  .card img {
    width: 100%;

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .card img:hover {
    transform: scale(1.02);
  }

  .card > p {
    text-align: center;
    text-justify: auto;
    padding: 16px;
  }

  .secondary-text {
    color: #777777;
  }

  /*Flexing Grid System*/
  .row {
    display: block;
    margin-top: 20px;
  }

  .col {
    margin-top: 20px;
  }
}

/* __________________________________________________________ */

/* footer */
footer {
  background-color: rgb(9, 52, 27);
  text-align: center;
  margin-top: 50px;
}

footer img {
  width: 200px;
}

footer p {
  color: #fff;
  font-family: poppins;
  font-size: larger;
  font-weight: bold;
}

footer img {
  margin-top: 20px;
}

.icon {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

ul.icon li {
  list-style: none;
}
ul.icon img {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.footer-down {
  margin-top: 10px;
  color: #fff;
  font-family: poppins;

  font-weight: bold;
}

/* ======================================== */
